---
// src/components/ProjectCard.astro
import { Image } from 'astro:assets';
const { title, description, tags = [], githubLink, image } = Astro.props;
---

<div class="projects-item">
  {image && (
      <div class="projects-item">
        {image && (
            <div class="projects-image">
              {typeof image === 'object' ? (
                  <Image
                      src={image}
                      alt={`Aperçu du projet ${title}`}
                      width={800}
                      height={450}
                      format="webp"
                      quality="mid"
                      style={{ width: '100%', height: 'auto', display: 'block' }}
                  />
              ) : (
                  <img src={image} alt={`Aperçu du projet ${title}`} loading="lazy" />
              )}
            </div>
        )}
      </div>
  )}

  <div class="projects-content">
    <div class="projects-header">
      <h3>{title}</h3>
      <a href={githubLink} target="_blank" rel="noopener noreferrer">GitHub ↗</a>
    </div>
    <p>{description}</p>
    <div class="tags">
      {tags && tags.map((tag) => (
          <span class="tag">{tag}</span>
      ))}
    </div>
  </div>
</div>